@{
    ViewData["Title"] = "Purchase / GRN";
}

<div class="page-header">
    <div>
        <h1 class="page-title-h">Purchase / GRN</h1>
        <div class="page-sub">Record supplier purchases and stock intake.</div>
    </div>
</div>

<div class="card">
    <div class="card-body-custom">
        <form class="row g-3">
            <div class="col-md-3"><label class="form-label-custom">Supplier</label><input class="form-control-custom" /></div>
            <div class="col-md-3"><label class="form-label-custom">Invoice No</label><input class="form-control-custom" /></div>
            <div class="col-md-2"><label class="form-label-custom">Date</label><input type="date" class="form-control-custom" /></div>
            <div class="col-md-4"><label class="form-label-custom">Remarks</label><input class="form-control-custom" /></div>
        </form>
    </div>
</div>
